/********************* Style**********************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family:"Helvetica", Arial, sans-serif;
	font-size: 16px;

}



/* Layout
-------------------------------------------------------------------------------------------------------*/

html{
	scroll-behavior: smooth;

}

html, body, #home{
	overflow-x: hidden;
}

/* Barra de Navegação
------------------------------------------------------------------------------*/

.navbar-transparente{
	padding: 5px 0px;
	background: rgba(0, 0, 0, 0.6); /*os 3 zeros definem a cor preta e 0.6 a opacidade*/
}

img, span{
	font-size: 1.5em;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.divisor{
	width: 1px;
	background: white;
	margin: 12px 15px;

}


/*formatando os links do menu*/

#nav-principal{
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link{ 
	color: white;

}

.navbar-light .navbar-nav .nav-link:hover{ 
	color: #9bf0e1;

}


/*Formatando íconi do menu*/

.navbar-light .navbar-toggler{
	color: rgba(255, 255, 255, 5); /*branco e opacidade*/
	border-color: rgba(255, 255, 255, 0.5);
	margin-right: 5px;
}


/* CONTEÚDO - ABERTURA
--------------------------------------------------------------------------*/

#home{
	height: 720px;
	display: flex;
	justify-content: flex-end;
}

.texto{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.imagem-1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}

.conteudo{
	color: #fff;
	background: #000;
	text-align: justify;
	padding: 30px 30px;
	width: 100%;
	font-weight: 100;

}

.texto-padrao{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.figura{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.figura1{
	display: flex;
	
	position: relative;
	bottom: 30px;
	right: 50px;
}



.linha{
	content: '';
	height: 2px;
	width: 100%;
	background: gray;

}




.parallax{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh !important;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	background-size: cover;


}

.caixa1{

background: url(../imagens/ruido.png), /*Já possui opacidade na img*/
	linear-gradient(50deg, #00BFFF, #B22222); /*Aparecerá um degradê*/



}

.caixa2{

background-image: url(../imagens/img1.jpg);

}

.caixa3{

background-image: url(../imagens/img2.jpeg);

}

.caixa4{
	background: url(../imagens/img.webp);

	
}





/* CONTEÚDO - CATÁLOGO
--------------------------------------------------------------------------*/

/*Barra de pesquisa*/

.search-box{
	position: absolute;
	z-index: 0;
	left: 60%;
	top: 100px;
	right: 40px;
	background: #4682B4;
	height: 50px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	width: 6s00px;
	color: white;

}

::-webkit-input-placeholder{
	color: white;
}

.search-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:#000;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search-box:hover > .search-txt{ 
	width: 300px;
	transition: 0.5s;
	padding: 0 6px;
}

.search-box:hover > .search-btn{ 

	background: #9bf0e1;
	transition: 0.5s;
}

#catalogo{
	background: #000;
}


.tamanho{
	height: 650px;
	width: 100vw;
}


.sessao-catalogo{
	background: #1C1C1C;

	background-attachment: fixed; /*fundo fixo para dar aquele efeito massa e fazer com que o fundo apareça.*/

	padding: 30px 20px;

}

.image{
	width: 270px;
	height: 412px;
}

.col-md-3 img{
	margin-top: 10px;
	margin-bottom: 10px;
}






/* CONTEÚDO - SOBRE NÓS
--------------------------------------------------------------------------*/

#sobre-nos{
	background: #1C1C1C;
}











/* TIPOGRAFIA
-----------------------------------------------------------------------------*/

h1{
	font-weight: 900; /*Nível de negrito*/
	letter-spacing: -0.05em; /*espaçamento das letras*/
	margin-bottom: 50px;
	color: white;
	
}

h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}


p{
	text-align: justify;
}

/* 	RODAPÉ
----------------------------------------------------------------------------------------*/

footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative; 

}

footer ul li a{

	margin: 5px 10px;
	text-decoration: none;
	color: gray;
}

footer ul li{
	list-style: none;
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	color: #000;
}


footer ul li a:hover{
	color: #000;
	text-decoration: none;
}

footer ul li:hover{
	background: #fff;
	color: #000;
	cursor: pointer;
}


.font-footer{

	font-size: 20px;
}



@media(max-width: 492.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 20px;
		margin-bottom: 60px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container span{
		font-size: 1.2em;
	}

	header, nav .container img{
		width: 60px;
		height: 55px;
	}

	#home, main.texto h1{
		font-size: 3em;
	

	}

	header, nav .container img{
		margin-left: 10px;

			}


			.navbar-light .navbar-toggler{
				margin-right: 15px;
			}



			.figura1{
				right: 150px;
			}

			.figura2{
		position: relative;
		right: 30px;
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}
			footer ul li{
				
				margin-right: 0px;
				margin-left: 20px;
			}




}






/*Extra small devices (portraint phones)*/

@media(min-width: 493px) and (max-width: 575.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 85px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container img{
		margin-left: 10px;

			}

	.navbar-light .navbar-toggler{
	margin-right: 15px;
	}


	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}


	

}


/*Small devices (landscape phones)*/

@media(min-width: 576px) and (max-width: 767.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 85px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container img{
		margin-left: 10px;

			}
	
	.navbar-light .navbar-toggler{
	margin-right: 15px;
	}

	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}

	

}


/*Medium devices (tablets, 768px e superior)*/
@media(min-width: 768px) and (max-width:  991.98px){ 

#home{
		align-items: flex-end;
	} 

	.texto{
		margin-right: 120px;
		justify-content: center;
		

	}

	.texto, p.lead{
		padding: 0;
	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;

	}

	section.imagem-1 img{
		width: 900px;
		height: 500px;
	}



	.imagem-2{
		display: none;
		

	}


	.parallax{

		height: 50vh !important;
		background-position: bottom 60%;
	}

	.figura1{
		right: 150px;
	}

	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}

	#home{
		height: 600px;

	}


	

}

/*Large devices (desktops, 992px e superior)*/
@media(min-width: 992px) and (max-width: 1199.98px){ 

	
#home{
		align-items: flex-end;
		
	} 

	.texto{
		
		margin-right: 60px;
		
		justify-content: center;
		

	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-left: 100px;
		

	}



	.imagem-2{
		display: none;
		

	}

	.figura2{
		margin-right: 5px;
	}




	
}

/*Extra large devices (large desktops, 1200px e superior)*/
@media(min-width: 1200px){ 


#home{
		align-items: flex-end;
		
	} 

	.texto{
		
		margin-right: 60px;
		
		justify-content: center;
		

	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-left: 100px;
		

	}



	.imagem-2{
		display: none;
		

	}


	#home, main.texto h1{
		font-size: 5em;

	}




	

}


