/********************* Style**********************************/

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family:"Helvetica", Arial, sans-serif;
	font-size: 16px;

}



/* Layout
-------------------------------------------------------------------------------------------------------*/

html{
	scroll-behavior: smooth;

}

html, body, #home{
	overflow-x: hidden;
}

/* Barra de Navegação
------------------------------------------------------------------------------*/

.navbar-transparente{
	padding: 5px 0px;
	background: rgba(0, 0, 0, 0.6); /*os 3 zeros definem a cor preta e 0.6 a opacidade*/
}

img, span{
	
	font-size: 1.4em;
	color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}


.divisor{
	width: 1px;
	background: white;
	margin: 12px 15px;

}


/*formatando os links do menu*/

#nav-principal{
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link{ 
	color: white;

}

.navbar-light .navbar-nav .nav-link:hover{ 
	color: #9bf0e1;

}


/*Formatando íconi do menu*/

.navbar-light .navbar-toggler{
	color: rgba(255, 255, 255, 5); /*branco e opacidade*/
	border-color: rgba(255, 255, 255, 0.5);
	margin-right: 5px;
}



/* CONTEÚDO - ABERTURA
--------------------------------------------------------------------------*/

#home{
	height: 720px;
	display: flex;
	justify-content: flex-end;
}

.texto{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;

}

.imagem-1{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;

}

.conteudo{
	color: #fff;
	background: #000;
	text-align: justify;
	padding: 30px 30px;
	width: 100%;
	font-weight: 100;

}

.texto-padrao{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.figura{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.figura1{
	display: flex;
	
	position: relative;
	bottom: 30px;
	right: 50px;
}

.libras{
	padding-top: 70px;
}


.parallax{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 70vh !important;
	width: 100%;
	position: relative;
	overflow: hidden;
	background-position: 50% 50%;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	background-size: cover;


}

.caixa1{

background: url(../imagens/ruido.png), /*Já possui opacidade na img*/
	linear-gradient(50deg, #00BFFF, #B22222); /*Aparecerá um degradê*/



}

.caixa2{

background-image: url(../imagens/img1.jpg);

}

.caixa3{

background-image: url(../imagens/img2.jpeg);

}

.caixa4{
	background: url(../imagens/img.webp);
}


.linha{
	position: absolute;
	content: " ";
	height: 2px;
	width: 100vw;
	background-color: rgb(85, 83, 83);
}



/* CONTEÚDO - CATÁLOGO
--------------------------------------------------------------------------*/

/*Barra de pesquisa*/

.search-box{
	position: absolute;
	z-index: 0;
	left: 60%;
	top: 100px;
	right: 40px;
	background: #4682B4;
	height: 50px;
	padding: 10px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.search-txt{
	border: none;
	background: none;
	outline: none;
	padding: 0;
	font-size: 16px;
	line-height: 40px;
	width: 6s00px;
	color: white;

}

::-webkit-input-placeholder{
	color: white;
}

.search-btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:#000;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search-box:hover > .search-txt{ 
	width: 300px;
	transition: 0.5s;
	padding: 0 6px;
}

.search-box:hover > .search-btn{ 

	background: #9bf0e1;
	transition: 0.5s;
}

#catalogo{
	background: #000;
}


.sessao-catalogo{
	background: #1C1C1C;

	background-attachment: fixed; /*fundo fixo para dar aquele efeito massa e fazer com que o fundo apareça.*/

}

.sessao-catalogo:hover .filme{
	transform: translate3d(0px, 0px, 0px) scale3d(0.9, 0.9, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
}


.sessao-catalogo:hover .filme:hover{
	transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	transform-style: preserve-3d;
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.85);
}

.filme{
	cursor: pointer;
	transform: all 0.4s;
}

.caixa-catalogo{
	display: flex;
	
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-evenly;

}


.space{
	margin: 30px 0;
}


/* CONTEÚDO - SOBRE NÓS
--------------------------------------------------------------------------*/

#sobre{
	background: #1C1C1C;
	width: 100vw;
	height: 100%;

	
}


#image-sobre{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #9bf0e1;
	height: 100vh;
	width: 50%;
}


.texto-all{
	color: #fff;
	padding: 40px;
	margin-top: 60px;

}

.texto-all span{
	font-size: 1.6em;
	color: #9bf0e1;
}

.caixa-somos{
	width: auto;
	height: auto;
	padding: 20px 30px;
	
}




/* CONTEÚDO - SUPORTE
--------------------------------------------------------------------------*/
#suporte{
	background: #1C1C1C;
	width: 100vw;
	height: 100%;
}

.texto-all h2{
	display: inline;
	margin-right: 25px;
}

.texto-all h2 a{
	
	margin-left: 10px;
	color: white;
	border: 1px solid rgb(91, 86, 86);

}

.texto-all h2 a:hover{
	
	
	color: white;
	border: 1px solid rgb(91, 86, 86);
	background-color: rgb(28, 28, 72);

}
.texto-all h2 a i.bi{

	color: white;

}

.texto-all p a{
	text-decoration: none;
	color: #9bf0e1;
	
}

.texto-all p a:hover{
	text-decoration:underline;
	
}
	.faq{
		margin-top: 100px;
		padding: 0 10px 30px 10px;
	}

.faq h2{
	color: #fff;
	
}

#suporte .texto-all{
	height: 100vh;
}



/* CONTEÚDO - TER CONTATO
--------------------------------------------------------------------------*/

#contato{
	background: #1C1C1C;
	width: 100vw;
	height: 100%;
}

#contato .texto-all .contat a{
		display: inline;	
		margin-right: 20px;
}

.contat{
	position: relative;
	right: 200px;
	
}

.tercontato{
	height: 100vh;
}

.person{
	max-width: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.person img{
	
}









/* TIPOGRAFIA
-----------------------------------------------------------------------------*/

h1{
	font-weight: 900; /*Nível de negrito*/
	letter-spacing: -0.05em; /*espaçamento das letras*/
	margin-bottom: 50px;
	color: white;
	
}

h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}


p{
	text-align: justify;
}

/* 	RODAPÉ
----------------------------------------------------------------------------------------*/

footer{

	background-color: #000;
	color: #fff;
	
}

#footer-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

#logo-footer{
	margin: 0px 0px 10px 0px;

}

#social_midia{
	margin-top: 30px;

}

#social_midia a{
	margin-left: 15px;
	
	
}

footer a{

	text-decoration: none;
	color: white;
	cursor: pointer;
	
}

footer a:hover{

	text-decoration: none;
	color: #9bf0e1;
	
}

#social_midia a:first-child{
	margin-left: 0;
}

#social_midia a i bi{
	color: #fff;
}

#social_midia a{
	color: #fff;
}

#footer-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 10px;
	padding: 0;
}

#footer-list li{
	text-align: none;
	list-style: none;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 10px;
	margin: 10px;
	
	
	
}

#enter{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;

}

#enter button{
	width: 100px;
}

#enter button:hover{
	background-color: #9bf0e1;
}

#footer-copyright{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	padding-bottom: 20px;
}

#enter, h3{
	font-size: 1.1em;
}
 #enter p{
	font-size: 0.8em;
}

#enter button{
	font-size: 0.8em;
}

#footer-copyright{
	font-size: 0.8em;
}





@media(max-width: 492.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 20px;
		margin-bottom: 60px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container span{
		font-size: 1em;
	}

	header, nav .container img{
		width: 60px;
		height: 55px;
	}

	#home, main.texto h1{
		font-size: 3em;
	

	}

	header, nav .container img{
		margin-left: 10px;

			}


			.navbar-light .navbar-toggler{
				margin-right: 15px;
			}



			.figura1{
				right: 150px;
			}

			

			.img-logo{
				width: 50px;
				height: 50px;
			}

			.offcanvas{
				width: 60% !important;
			
			}

			.filme{
					width: 250px;
			}

			#footer-list{
			
				flex-direction: column;
			
			}

			.image-sobre{
				display: none;
			}

			.texto-all p{
					font-size: 0.9em;
			
			}

			.texto-all span{
				font-size: 1.2em;
		
		}

		.texto-all h2{
			font-size: 1.5em;
	
	}
	.texto-all{
		
		margin-top: 0px;
	
	}
	.faq{
		margin-top: 0px;
		padding: 0 10px 30px 10px;
		
	}

	.faq .accordion-body{
		font-size: 0.9em;
	}

	.faq .accordion-button{
		font-size: 0.7em;
	}

	.faq h2{
		font-size: 1.5em;
		
	}
}






/*Extra small devices (portraint phones)*/

@media(min-width: 493px) and (max-width: 575.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 85px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container img{
		margin-left: 10px;

			}

	.navbar-light .navbar-toggler{
	margin-right: 15px;
	}


	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}

	img, span{
				
		font-size: 1.1em;
		
	}

	.img-logo{
		width: 50px;
		height: 50px;
	}

	.image-sobre{
		display: none;
	}

	.texto-all p{
		font-size: 1.1em;

}

.texto-all span{
	font-size: 1.4em;

}

.texto-all h2{
font-size: 1.7em;

}
.faq{
	margin-top: 0px;
	padding: 0 10px 30px 10px;
}

.faq h2{
	font-size: 1.7em;
	
}
	

}


/*Small devices (landscape phones)*/

@media(min-width: 576px) and (max-width: 767.98px){ 

	#home{
		align-items: flex-end;
	} 

	.texto{
		margin-top: 85px;
	}

	.imagem-2{
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		justify-self: flex-end;
	}

	.imagem-1{
		display: none;
	}

	header, nav .container img{
		margin-left: 10px;

			}
	
	.navbar-light .navbar-toggler{
	margin-right: 15px;
	}

	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}
	
	img, span{
				
		font-size: 1.3em;
		
	}
	
	.img-logo{
		width: 50px;
		height: 50px;
	}

	.image-sobre{
		display: none;
	}

	.texto-all p{
		font-size: 1.2em;

}

.texto-all span{
	font-size: 1.5em;

}

.texto-all h2{
font-size: 1.8em;

}

.faq{
	margin-top: 0px;
	padding: 0 10px 30px 10px;
}

.faq h2{
	font-size: 1.8em;
	
}

}


/*Medium devices (tablets, 768px e superior)*/
@media(min-width: 768px) and (max-width:  991.98px){ 

#home{
		align-items: flex-end;
	} 

	.texto{
		display: flex;
		justify-content: center;
		
		
	}

	.texto, p.lead{
		padding: 0;
	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-left: 120px;

	}

	section.imagem-1 img{
		width: 900px;
		height: 500px;
	}



	.imagem-2{
		display: none;
		

	}


	.parallax{

		height: 50vh !important;
		background-position: bottom 60%;
	}

	.figura1{
		right: 150px;
	}

	.figura2{
		position: relative;
	
		
		
	}

	#compativel .figura2 img{
		width: 400px;
		height: 300px;
		
	}

	#home{
		height: 600px;

	}

	#enter{
		margin: 20px 0;
	}
	

}

/*Large devices (desktops, 992px e superior)*/
@media(min-width: 992px) and (max-width: 1199.98px){ 

	
#home{
		align-items: flex-end;
		
	} 

	.texto{
		
		margin-right: 60px;
		
		justify-content: center;
		

	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-left: 100px;
		

	}



	.imagem-2{
		display: none;
		

	}

	.figura2{
		margin-right: 5px;
	}

	
	.menu_hamburguer{
		display: none;
	}

	.ps{
		margin-left: auto;
	}

	.icon{
		display: none;
	}
	
}

/*Extra large devices (large desktops, 1200px e superior)*/
@media(min-width: 1200px){ 


#home{
		align-items: flex-end;
		
	} 

	.texto{
		
		margin-right: 60px;
		
		justify-content: center;
		

	}

	.imagem-1{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-end;
		margin-left: 100px;
		

	}



	.imagem-2{
		display: none;
		

	}


	#home, main.texto h1{
		font-size: 5em;

	}


	.ps{
		margin-left: auto;
	}

	.icon{
		display: none;
	}

	

}


